.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 4rem;
  min-height: 100vh;
}

.hello {
  align-self: center;
  padding: 0 5rem;
}

.hello img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .hello {
    align-self: center;
    padding: 0 0 4rem 0;
  }

  .hello img {
    max-width: 448px;
    min-width: 224px;
    object-fit: contain;
  }
}
