.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-1-azul-acento);
  color: var(--clr-1-principal);
  padding: 2rem 4.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.login {
  color: var(--clr-1-principal);
}

.logout {
  height: 3.4rem;
  font-size: 1.6rem;
  background-color: var(--clr-1-principal);
  color: var(--clr-1-azul-marino);
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
