.form,
.form fieldset {
  display: flex;
  flex-direction: column;
}

.form {
  flex-basis: content;
}

.form fieldset {
  align-items: flex-start;
  align-self: stretch;
}

.form label {
  font-weight: var(--fw-light);
  margin-bottom: 0.25rem;
}

.form input {
  margin-bottom: 2rem;
  width: 21.5rem;
  height: 2.4rem;
  border-style: solid;
  border-radius: 3px;
  border-color: #dcdcdc;
}

.form__button--auth {
  height: 3.4rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  background-color: var(--clr-1-azul-acento);
  color: var(--clr-1-principal);
  border: none;
  cursor: pointer;
}

.form__button--switch {
  height: 3.4rem;
  font-size: 1.6rem;
  background-color: var(--clr-1-azul-marino);
  color: var(--clr-1-principal);
  border: none;
  cursor: pointer;
}
