.wrapper {
  --btn-bg: var(--clr-1-azul-marino);
  --btn-bg-hvr: var(--clr-1-azul-acento);
  --btn-clr: var(--clr-1-principal);
  --text-clr: var(--clr-1-contraste);
  padding: 8rem 6rem 4rem;
}

.wrapperDark {
  --btn-bg: var(--clr-1-azul-acento);
  --btn-bg-hvr: var(--clr-1-azul-marino);
  --btn-clr: var(--clr-1-principal);
  --text-clr: var(--clr-1-principal);
  padding: 8rem 6rem 4rem;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  max-width: 1256px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header h2 {
  font-size: 2.4rem;
  color: var(--text-clr);
}

.search {
  display: flex;
  gap: 1rem;
}

.search input {
  width: 21.5rem;
  height: 2.4rem;
  border-style: solid;
  border-radius: 3px;
  border-color: #dcdcdc;
}

.search p {
  color: red;
  align-self: center;
}

.search button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--btn-bg);
  color: var(--btn-clr);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.search button:hover,
.search button:focus {
  background-color: var(--btn-bg-hvr);
}

.pages {
  display: flex;
  justify-content: space-between;
}

.pages button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--btn-bg);
  color: var(--btn-clr);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.pages button:hover,
.pages button:focus {
  background-color: var(--btn-bg-hvr);
}

.pages button:disabled {
  background-color: var(--clr-2-tablas-a);
  color: var(--clr-1-principal);
  cursor: not-allowed;
}

.pages p {
  font-size: 1.8rem;
  color: var(--text-clr);
}

.profiles {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
}
