.card {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-color: var(--clr-1-tablas-a);
}

.card h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.avatar {
  width: 10rem;
  border-radius: 15%;
}

.button {
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--clr-1-azul-marino);
  color: var(--clr-1-principal);
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: var(--clr-1-azul-acento);
}
